/* Otiosum css file */

/* FONTS */
/*Cabin Sketch*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
/*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables */
:root {
    --link-color: #0b61a4;
    --link-hover: #0082e7;

    --navigation-bg: #2b2b2b;

    --text-color: #353535;
    --bg-color: #fafafa;

    --green-color: #00cc00;
    --green-color-darker: #009e00;
    --green-color-darker-dark: #007c00;
    
    --nav-color: #aeaeae;

    --dropdown-bg: #cecece;

    --facebook-color: #4267B2;
    --twitter-color: #1DA1F2;
    --google-color: #DB4437;
    --instagram-color: #c13584;
    --linkedin-color: #2867b2;
    --github-color: #333333;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
}

body {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover);
}

html, body {
    height: 100%;
}

/* HEADER */
.navbar {
    background-color: var(--navigation-bg);
    z-index: 99000;
}

.navbar-brand {
    font-family: 'Cabin Sketch';
    font-size: 48px;
    background: -webkit-linear-gradient(circle farthest-corner at bottom left, var(--link-hover) 25%, var(--green-color-darker));
    background: -moz-radial-gradient(circle farthest-corner at bottom left, var(--link-hover) 25%, var(--green-color-darker));
    background: radial-gradient(circle farthest-corner at bottom left, var(--link-hover) 25%, var(--green-color-darker));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav {
    font-family: 'Indie Flower';
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: var(--nav-color);
}
.navbar-nav .active > .nav-link {
    color: var(--green-color-darker);
    border-bottom: 2px solid var(--link-color);
}

.navbar-nav .nav-link:hover{
    color: var(--link-color);
}

    /* dropdown */
.navbar-nav .dropdown-menu {
    background-color: var(--dropdown-bg);
    font-size: 20px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    font-weight: 700;

}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--link-color);
    background-color: transparent;
}

.navbar .navbar-toggler {
    color: var(--link-hover);
    border-color: var(--nav-color);
}

.navbar .navbar-toggler:hover {
    border-width: 2px;
    /* border-color: var(--green-color); */
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image:  
    url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27, 155, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}


/*FOOTER*/

footer {
    background: var(--navigation-bg);
    color: var(--nav-color);
    height: auto;
    margin-top: auto;
}

/*copyright section*/
.copyright a{
    color: var(--nav-color);
    transition-duration: 0.2s;
}

.copyright a:hover {
    color: white;
    text-decoration: none;
}

.copyright {
    border-top: 1px solid var(--nav-color);
    background-color: rgba(0, 0, 0, 0.2);
}
/*social network icons*/
.social-network a.icoFacebook:hover {
    background-color: var(--facebook-color);
}
.social-network a.icoTwitter:hover {
    background-color: var(--twitter-color);
}
.social-network a.icoGoogle:hover {
    background-color: var(--google-color);
}
.social-network a.icoInstagram:hover {
    background-color: var(--instagram-color);
}
.social-network a.icoLinkedin:hover {
    background-color: var(--linkedin-color);
}
.social-network a.icoGithub:hover {
    background-color: var(--github-color);
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoGithub:hover i {
    color: #fff;
}

.social-network a {
    display: inline-block;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 24px;

    /* return transition for background */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

/* transition and rotation for the icon */
.social-network a:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    color: #fff;
}

 /* social icon color transition */
.social-network i {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*LOGIN/REGISTER FORM*/

.user-form {
background-color:#cccccc33;
}

.user-form .card-header, .user-form .card-footer {
    background-color: var(--navigation-bg);
    color: var(--nav-color);
}

.step {
    display: none;
    margin-top: 25px;
}

.icon {
    color: var(--link-hover);
    font-size: 5rem;
}

.message {
    font-size: 1.2rem;
    font-weight: 600;
}

/* remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
.hide-arrow {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-arrow {
  -moz-appearance: textfield;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10000;
    background-color:rgba(0, 0, 0, 0.75);
    color: var(--green-color-darker)
}

  /*======== HOVERBOX ==============*/
/* displays text when you hover over the image */
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* max-height: 300px; */
    height: 100%;
    width: auto;
    /* margin-top: 5%; */
    /* padding-bottom: 10px; */
    border-bottom: 2px dashed rgb(230, 230, 230);
}

.hvrbox img {
    max-width: 100%;
    margin: auto;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
    height: 100%;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/* PRODUCTS */
.product-item {
    height: 600px;
    min-width: 220px;
    max-width: 300px;
    width: 100%;

    background-color: white;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.product-item:hover {
    -webkit-transform: scale(1.015, 1.015);
    transform: scale(1.015, 1.015);
}

.cp-img {
    height: 250px;
}

.discount-tag {
    z-index: 90000;
    float: right;
    font-weight: 700;
    font-size: 18px;
    color:white;
}

.cp-img .hvrbox {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-img img {
    height: auto;
    max-height: 248px;
    width: auto;
    max-width: 100%;
    margin: auto;
}

.cp-img .img-thumbnail {
    border: none;
}

.cp-details {
    height: 265px;
}

.cp-title{
    height: 125px;
}

.cp-title h5 a {
    color: var(--link-color);
    font-family: sans-serif;
}

.cp-price {
    height: 50px;
    font-weight: 600;
    font-size: 16px;
}

.cp-price .old-price {
    text-decoration: line-through 2px;
    text-align: center;
    margin: auto;
    opacity: 0.8;
    font-size: 15px;
}

.cp-price .new-price {
    text-align: center;
    margin: auto;
}

.sale-date {
    font-size: 13px;
    font-weight: 600;
    color: black;
    height: 20px;
    color: var(--green-color-darker);
}

.availability {
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

/* product rating displayed on the product card */
.rating {
    height: 25px;
}


/* PRODUCT */
/* carousel */
.p-image-window {
    height: 500px;
}

.p-img {
    height: 450px;
    max-height: 450px;
    width: auto;
}

.p-img img {
    height: 400px;
    width: auto;
}

.carousel-control-prev, .carousel-control-next{
    background: #212529;
}

.carousel .carousel-indicators {
   top:0;
}
.carousel .carousel-indicators li {
    background-color: black;
}
.carousel .carousel-indicators li.active {
    background-color: var(--green-color-darker);
}

/* product information */
.p-card {
    height: 600px;
    box-shadow: 7px 4px 10px #212529;
}
.p-header {
    height: auto;
    min-height: 50px;
    border-bottom: 2px solid var(--link-hover);
    color:#212529;
    font-weight: 500;
}

.p-header .discount-tag {
    right: 0;
    top: 25px;
}

.p-price {
    font-size: 24px;
    font-weight: 600;
}
.p-price .old-price {
    text-decoration: line-through 2px;
    font-size: 20px;
    opacity: 0.8;
}
 
.summary {
    font-size: 18px;
    font-weight: 500;
}

.p-card .summary {
    padding: 0 2px 0 2px;
}

@media (max-width: 576px) {
    .p-card{
        height:auto;
    }
 }

@media (max-width: 768px) and (min-width: 576px) {
    .p-card{
        height:550px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .p-card{
        height:750px;
    }
}

/* product details */
.whitespace{
    white-space: pre-wrap;
}

.product-detail {
    box-shadow: 7px 4px 10px #212529;
}

.product-detail .nav {
    background: var(--navigation-bg);
    color: var(--nav-color);
    width: 100%;
}

.product-detail .nav .nav-item:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 5px var(--link-hover);
}

.product-detail .nav .nav-item .nav-link{
    font-weight: 600;
    height: 100%;
    font-size: 20px;
}

.product-detail .nav .nav-item .active{
    border: none;
    /* border-bottom: 2px solid#009e00; */
    background-color:#383838;
    /* box-shadow: 3px 2px 5px var(--link-hover); */
    color: #E6E6E6;
}

.product-detail .nav .nav-item .nav-link:hover {
    border: none;
    /* border-bottom: 2px solid#009e00; */
    background-color:#383838;
    /* box-shadow: 1px 1px 5px red; */
    color: #E6E6E6;
}
/* measurments */
.tab-content {
    min-height: 265px;
    height: auto;
}

.tab-content > div {
    padding: 15px;
}

.tab-content .tab-content-header {
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 2px solid var(--text-color);
    background-color: #e9e9e9;
    font-weight: 500;
    margin-top: 0;
}

.tab-content .tab-pane table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.tab-content .tab-pane table tbody tr {
    height: 75px;
    background-color: #e9e9e9;
    border-bottom: 2px solid var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.tab-content .tab-pane table tbody tr td {
    padding: 0 20px 0 20px;
}

/* comments / review */
.user-name{
    font-size:14px;
    font-weight: bold;
}

.reviews-list .review{
    border-bottom: 2px dotted #e9e9e9;
    padding-bottom: 15px;
    padding-top: 10px;
}

.comment-box {
    box-shadow: 2px 2px 25px #212529;
    padding: 25px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    float: left;
    height: 50px;
    font-size: 30px;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    color: #28a745;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}